@charset "utf8";

/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/
.float-left{float:left !important;}
.float-right{float:right !important;}
.text-center{text-align: center !important;}
.margin-null{margin: 0 !important;}
.padding-null{padding: 0 !important;}
.border{border:1px solid red !important;}
ul{margin-left: 0;}
.text-small{font-size: 80%;}



h1{
    font-size:180%;
    color:#FD7800;
    font-weight:bolder;
}
h2{
    font-size:135%;
    color:#4D2400;
    font-family: TimesNewRoman, Serif;
    font-weight:bold;
}
h3{
    font-size:180%;
    color:#4D2400;
    font-family: TimesNewRoman, Serif;
    font-weight:bold;
}
h4{
    font-size:180%;
    color:#04257B;
    font-family: TimesNewRoman, Serif;
    font-weight:bold;
}
h5{
    font-size:130%;
    font-weight:bold;
    color:#00257B;
}
h6{
    font-size:180%;
    color:#752903;
    font-weight:bolder;
}
h7{
    font-size:165%;
    color:#04257B;
    font-weight:bold;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA LABEL
 -----------------------------------------------------------------------------*/
label.label-1{
    color:#4D2400;
    font-weight:bold;
    font-size: 80%;
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT y TEXTAREA
 -----------------------------------------------------------------------------*/
input[type=text],input[type=password], textarea{
    padding:3px;
    text-align:left;
    font-family:'Century Gothic',Arial,Helvetica;
    font-size:100%;
    border: none;
    background-color: transparent;
}

div.input-fly-large{
    background:url(../images/box2.png) no-repeat top left;
    width: 148px;
    height:27px;
}
    div.input-fly-large input{
        margin: 4px 0  0 8px;
        width:128px;
    }
div.input-fly-medium{
    background:url(../images/box3.png) no-repeat top left;
    width: 64px;
    height:27px;
}
    div.input-fly-medium input{
        margin: 4px 0  0 7px;
        width:45px;
        font-size: 90%;
    }

/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/
button{
    font-family:Arial, Helvetica, sans-serif;
    border:none;
    font-size: 110%;
    text-align:center;
    color:#fff;
}
button.button-medium{
    background: transparent url(../images/button1.png) no-repeat scroll top center;
    width: 76px;
    height: 20px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA TEXTOS
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA EL HEADER
 -----------------------------------------------------------------------------*/

/** Menu Top
 ******************************************************************************/
.header-topmenu .col{
    float:left;
    text-align: center;
}
.header-topmenu .col-1{&nbsp;
    width:90px;
    border-right: 1px solid #000;
}&nbsp;
.header-topmenu .col-2{
    width:90px;
    border-right: 1px solid #000;
}
.header-topmenu .col-3{
    width:150px;
}
    .header-topmenu .col-3 span{
        position:relative;
        top: -8px;
    }

/** Plugin Clima
 ******************************************************************************/
.container-weather{
    float:left;
    width: 206px;
    height: 134px;
    background:url(../images/background_weather.png) no-repeat top center;
    margin-left:-5px;
}
    .container-weather .weather-left{
        float:left;
        margin:10px 0 0 20px;
    }
    .container-weather .weather-left ul{
        margin-top:-20px;
    }
        .container-weather .weather-left ul li{
            width:60px;
            border-bottom:1px solid #00257B;
            margin-bottom: 2px;
            padding-bottom:2px;
        }
     .container-weather .weather-icon{
        float:left;&nbsp;
        margin-top:40px;
    }

/** BANNER HORIZONTAL
 ******************************************************************************/
.banner-horizontal{
    float:right;
    position: relative;
    right: -25px;
}

/** MENU PRINCIPAL
 ******************************************************************************/
.menu{
    margin-top: 48px;
    padding-left: 35px !important;
}
    .menu ul li{
        display: inline;
        float: left;
        width: 110px;
        margin-right: 10px;
        padding-right: 10px;
        background: transparent url(../images/line_menu.png) no-repeat scroll right;
    }
        .menu ul li .link-menu{
            display: block;
            color: #FF7900;
            font-size: 105%;
        }
        .menu ul li.outline{background: none !important;}

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL CUERPO DE LAS SECCIONES
 -----------------------------------------------------------------------------*/
/* Buscador de Vuelos
 ******************************************************************************/
.fly{
    background: url(../images/background_fly.png) no-repeat top left;
    margin-left:5px;
    height:260px;
    border:1px solid red;
}
    .fly .photo-search{
        float:left;
        margin:33px 0 0 12px;
    }
    .fly .search-fly{
        float: left;
        width: 199px;
        height: auto;
        margin:40px 0 0 8px;
        /*border:1px solid red;*/
    }
        .fly .search-fly .row{width: 199px;}
        .fly .search-fly .input-fly-large{margin: 0 auto;}
        .fly .search-fly .col{
            float:left;
            margin:2px 0 0 5px;
        }
            .fly .search-fly .col label{margin-left: 5px;}
            .fly .search-fly .row .button-medium{margin-top: 5px;}

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL SIDEBAR
 -----------------------------------------------------------------------------*/
.search{
    float:left;
    background: url(../images/background-search.png) no-repeat top left;
    width:333px;
    height:111px;
}



/*------------------------------------------------------------------------------
 - ESTILOS PARA EL LOGIN
 -----------------------------------------------------------------------------*/
.login{
    text-align: right;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL FOOTER
 -----------------------------------------------------------------------------*/
